{% extends "inc/base.html" %}
{% load static %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container_q">
        <div class="ContainerWhite" style="margin-left: 20px; margin-top:20px;">
            <h1>Hot questions</h1>
            <h3 style="margin-left:50px; margin-top: 10px;"><a href = "{% url 'index' %}">New questions</a></h3>
        </div>
        <div class="row" style="margin-left: 4px">
            <div class="col-8">
                {% for question in page_obj %}
                    {% include "inc/question_item.html" %}
                {% endfor %}
                {% include "inc/paginator.html" %}
            </div>
{% endblock %}
