<!doctype html>

{% load static %}

<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MainPage</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="row" style="width: 100%;">
                <div class="col-3" style="margin-top: 10px;">
                    <h2><a href = "{% url 'index' %}">AskVK</a></h2>
                </div>
                <div class="col-7" style="margin-top:8px;">
                    <div class="row">
                        <div class="col-4">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                           aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit" style="text-align:center;">SEARCH!</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-8">
                            <button onclick="document.location = 'ask.html'" class="btn btn-outline-success" type="button">ASK!</button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar_50">
                                <img src="{% static "img/avatar-1.jpg" %}" alt=""/>
                            </div>
                        </div>
                        <div class="col-10" style="padding-left:30px;">
                            <h5 style="color:white">Admin</h5>
                            <div class="ContainerBlack" style="color:white">
                                <div class="HeaderTextSmall">Settings</div>
                                <div class="HeaderTextSmall">Log out</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container_q">
        <div class="ContainerWhite" style="margin-left: 20px; margin-top:20px;">
            <h1>New questions</h1>
            <h3 style="margin-left:50px; margin-top: 10px;">Hot questions</h3>
        </div>
        <div class="row" style="margin-left: 4px">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar_100">
                                <img src="{% static "img/avatar-1.jpg" %}" alt=""/>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title"><a href = "question.html">Question 1</a></h2>
                            <div class="question-text">
                                Text voprosa nomer 1
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="likeCount">1</div>
                        </div>
                        <div class="col-3 ">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                                 style="margin-top:20px;">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio1">Like</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio2">Dislike</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="nav-link active" aria-current="page" href="question.html" style="margin-top: 30px">answer(1)</a>
                        </div>
                        <div class="col-5">
                            <div class="qtag">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <h5 style="margin-top:10px;">Tags:</h5>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Tag1</a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar_100">
                                <img src="{% static "img/avatar-2.jpg" %}" alt=""/>
                            </div>
                        </div>
                        <div class="col-10" style=>
                            <h2 class="question-title"><a href = "question.html">Question 2</a></h2>
                            <div class="question-text">
                                Text voprosa nomer 2
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="likeCount">2</div>
                        </div>
                        <div class="col-3">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                                 style="margin-top:20px;">
                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio3">Like</label>
                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio4">Dislike</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="nav-link active" aria-current="page" href="question.html" style="margin-top: 30px">answer(2)</a>
                        </div>
                        <div class="col-5">
                            <div class="qtag">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <h5 style="margin-top:10px;">Tags:</h5>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Tag1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Tag2</a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar_100">
                                <img src="{% static "img/avatar-3.jpg" %}" alt=""/>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title"><a href = "question.html">Question 3</a></h2>
                            <div class="question-text">
                                Text voprosa nomer 3
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="likeCount">3</div>
                        </div>
                        <div class="col-3">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                                 style="margin-top:20px;">
                                <input type="radio" class="btn-check" name="btnradio2" id="btnradio5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio5">Like</label>
                                <input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio6">Dislike</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="nav-link active" aria-current="page" href="question.html" style="margin-top: 30px">answer(3)</a>
                        </div>
                        <div class="col-5">
                            <div class="qtag">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <h5 style="margin-top:10px;">Tags:</h5>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Tag1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Tag2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Tag3</a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4" style="padding-right: 2px;">
                <div class="container_t" style="margin-bottom:20px;">
                    <h1>Popular tags</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tag0</li>
                        <li class="list-group-item">Tag1</li>
                        <li class="list-group-item">Tag2</li>
                        <li class="list-group-item">Tag3</li>
                        <li class="list-group-item">Tag4</li>
                    </ul>
                </div>
                <div class="container_t" style="margin-bottom:20px;">
                    <h1>Best members</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Admin</li>
                        <li class="list-group-item">User0</li>
                        <li class="list-group-item">User1</li>
                        <li class="list-group-item">User2</li>
                        <li class="list-group-item">User3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Kuparenkov Ilya ANDR-11</span>
    </div>
</footer>
</body>
</html>