{% load static %}
<div class="row">
    <div class="col-2">
        <div class="avatar_50">
            <img src="{% static "img/avatar-1.jpg" %}" alt=""/>
        </div>
    </div>
    <div class="col-10" style="padding-left:30px;">
        <h5 style="color:white">Admin</h5>
        <div class="ContainerBlack" style="color:white">
            <div class="HeaderTextSmall"><a href = "{% url 'settings' %}">Settings</a></div>
            <div class="HeaderTextSmall">Log out</div>
        </div>
    </div>
</div>