<!doctype html>

{% load static %}

<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskVK</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="row" style="width: 100%;">
                <div class="col-3" style="margin-top: 10px;">
                    <h2><a href = "{% url 'index' %}">AskVK</a></h2>
                </div>
                <div class="col-7" style="margin-top:8px;">
                    <div class="row">
                        <div class="col-4">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                           aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit" style="text-align:center;">SEARCH!</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'ask' %}" class="btn btn-outline-success" role="button" aria-disabled="true">ASK!</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    {% if request.user.is_authorized %}
                        {% include "inc/authorized.html" %}
                    {% else %}
                        {% include "inc/unauthorized.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

            {% block content %}
            {% endblock %}


            <div class="col-4" style="padding-right: 2px;">
                <div class="container_t" style="margin-bottom:20px;">
                    <h1>Popular tags</h1>
                    <ul class="list-group list-group-flush">
                        {% for tag in pop_tags %}
                        <li class="list-group-item"><a  href="{% url 'tag' tag_id=tag.name %}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="container_t" style="margin-bottom:20px;">
                    <h1>Best members</h1>
                    <ul class="list-group list-group-flush">
                        {% for profile in best_users %}
                            <li class="list-group-item">{{ profile.user.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Kuparenkov Ilya ANDR-11</span>
    </div>
</footer>
</body>
</html>
