{% load static %}

<div class="pagination">
        {% if page_obj.has_previous %}
            <li class=" step-links page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="step-links page-item page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li class="step-links page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
</div>